page-list {
  .navigation {
    width: 100%;
    padding: 5px;

    .next {
      float: right;
    }

    .disabled {
      opacity: 0.65;
      cursor: not-allowed;
      color: grey;
      border-color: grey;
    }
  }
}
