result {
  .description {
    float: left;
    width: calc(100% - 70px);

    .name {
      color: #387ef5;
    }

    div {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .info {
    float: right;
  }
}
